body {
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: #f0f0f0;
  padding-top: 250px;
}

img {
  transition: transform 0.3s; /* Add a smooth transition effect */
}

img:hover {
  transform: scale(1.2); /* Increase the size on hover */
}

#text {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#heart {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 200px;
  padding-bottom: 50px;
  transform:translateX(0);
  animation:none;

}



#left.okay{
  animation: comeTogether 2s forwards; /* Trigger the animation on click */
}

@keyframes comeTogether {
  to{
    transform: translateX(-46px); /* Adjust the percentage values */
  }
}

#right.okay{
  animation: cTogether 2s forwards /* Trigger the animation on click */
}

@keyframes cTogether {
  to{
    transform: translateX(46px); /* Adjust the percentage values */
  }
}



@keyframes heartbeatAnimation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(2.5);
  }
}

#heart.transformed {
  
  animation:heartbeatAnimation 2s infinite;
  animation-delay: 1s;

}

#click{
  color:red;
  font-size: 24px;
  cursor: pointer;
  
}
